AI_PROVIDER=gemini
AI_API_KEY=YOUR_KEY
AI_MODEL=gemini-3-flash-preview
AI_DEFAULT_TAG=programmer

GOOGLE_CLIENT_ID=your_google_client_id
JWT_SECRET_KEY=your_super_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440